.centralizer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .expandedPhoto {
    width: 90%;
    max-width: 90%;
    figcaption {
      display: flex;
      justify-content: right;
      margin-bottom: 0.5rem;

      button {
        background-color: transparent;

        .close__icon {
          font-size: 25px;
          color: #fff;
        }
      }
    }

    img {
      width: 100%;
      max-height: 600px;
      object-fit: contain;
    }
  }
}

@media (min-width: 668px) {
  .centralizer__section {
    .expandedPhoto {
      width: 65%;
      figcaption {
        display: flex;
        justify-content: right;
        margin-bottom: 0.5rem;
      }

      img {
        width: 100%;
      }

      figcaption {
        button {
          .close__icon {
            font-size: 35px;
          }
        }
      }
    }
  }
}
