/* DropMenu.module.css */

.dropMenu {
  display: block;
  float: right;
  width: 200px;
  background-color: #fff;
  border-radius: 0 0 0 0.5rem;

  .headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    background-color: #8600c6;
    margin-bottom: 1rem;

    h1 {
      color: #fff;
      font-size: 1.5em;
      text-align: center;
    }

    .close__icon {
      font-size: 2em;
      color: #fff;
      cursor: pointer;
      position: relative;
      transform: translateY(-3px);
    }
  }

  .navigation {
    a {
      text-decoration: none;
      li {
        list-style: none;
        text-align: center;
        margin: 1rem auto;
        font-size: 1em;
        font-weight: 900;
        color: #8600c6;
      }

      li:hover {
        color: #8600c6;
      }
    }
  }

  .socials__menu {
    display: flex;
    justify-content: center;
    background-color: #8600c6;
    border-radius: 0 0 0 0.5rem;

    a {
      text-decoration: none;

      .socials__iconMenu {
        font-size: 1.5em;
        margin: 0.7rem 0.2rem;
        color: #fff;
      }
    }
  }
}

.show {
  animation: show 0.2s forwards;
}

.hide {
  animation: hide 0.2s forwards;
}

@keyframes show {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes hide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1000px);
  }
}

@media (min-width: 561px) {
  .dropMenu {
    width: 300px;
    .navigation {
      a {
        li {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media (min-width: 761px) {
  .dropMenu {
    a {
      li {
        font-size: 1.5em;
      }
    }
  }
}
