.align__right {
  display: block;
  float: right;

  .dropMenu {
    width: 200px;
    height: 100vh;
    background-color: #fff;

    .headerMenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem;
      background-color: #8600c6;
      margin-bottom: 1rem;
      height: 7vh;

      h1 {
        color: #fff;
        font-size: 1.5em;
        text-align: center;
      }

      .close__icon {
        font-size: 2em;
        color: #fff;
        cursor: pointer;
      }
    }

    .navigation {
      height: 86vh;
      a {
        text-decoration: none;
        li {
          list-style: none;
          text-align: center;
          margin: 1rem auto;
          font-size: 1em;
 
          color: #8600c6;
        }

        li:hover {
          color: #8600c6;
        }
      }
    }

    .socials__menu {
      display: flex;
      justify-content: center;
      background-color: #8600c6;
      justify-self: flex-end;
      width: 100%;
      height: 7vh;

      a {
        text-decoration: none;

        .socials__iconMenu {
          font-size: 1.5em;
          margin: 0.7rem 0.2rem;
          color: #fff;
        }
      }
    }
  }

  .show {
    animation: show 0.2s forwards;
  }

  .hide {
    animation: hide 0.2s forwards;
  }
}

@keyframes show {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes hide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1000px);
  }
}

@media (min-width: 561px) {
  .align__right {
    .dropMenu {
      width: 300px;
      .navigation {
        a {
          li {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

@media (min-width: 761px) {
  .align__right {
    .dropMenu {
      a {
        li {
          font-size: 1.5em;
        }
      }
    }
  }
}
